{% extends 'base.html.twig' %}

{% block title %}Nouveau stagiaire{% endblock %}

{% block body %}

    <div class="titre">
        <h1 class="titresecondaire">{% if isEdit %} ÉDITER {% else %} AJOUTER  {% endif %}  UN STAGIAIRE</h1>
    </div>

    <div class="stagiaireForm">
        <form method="POST">
 
            
            <div class="divTotale">
                <div class="mainDiv">
                    <div class="nomPrenomDiv">
                        <div class="sectionForm">
                            <label class="label" for="nom" aria-label="Nom du stagiaire">Nom du stagiaire</label>
                            <input class="label nom" type="text" name="nom" id="nom" value="{{ stagiaire.nom }}" required="required">
                        </div>
                        <div class="sectionForm">
                            <label class="label" for="prenom" aria-label="Prénom du stagiaire">Prénom du stagiaire</label>
                            <input class="label prenom" type="text" name="prenom" value="{{ stagiaire.prenom }}" id="prenom" required="required">
                        </div>
                    </div>

                    <div class="adresseTotale">
                        <div class="sectionForm">
                            <label class="label" for="adresse" aria-label="Adresse du stagiaire">Adresse</label>
                            <input class="label adresse" type="text" name="adresse" value="{{ stagiaire.adresse }}" id="adresse" required="required">
                        </div>
                        <div class="sectionForm">
                            <label class="label" for="ville" aria-label="Ville du stagiaire">Ville</label>
                            <input class="label ville" type="text" name="ville" id="ville" value="{{ stagiaire.ville }}" required="required">
                        </div>
                        <div class="sectionForm">
                            <label class="label" for="cp" aria-label="Code postal de la ville">Code Postal</label>
                            <input class="label cp" type="text" name="cp" id="cp" value="{{ stagiaire.cp }}" required="required">
                        </div>
                    </div>

                    <div class="naissance">
                        <div class="sectionForm">
                            <label class="label" for="dateNaissance" aria-label="Date de naissance du stagiaire">Date de naissance</label>
                            <input class="label dateNaissance" type="date" name="dateNaissance" value="{{ stagiaire.getDateNaissanceStr }}" id="dateNaissance" required="required">
                        </div>
                    </div>
                    
                </div>
                
                <div class="Telmailsexe">
                    <div class="sectionForm">
                        <label class="label" for="sexe" aria-label="Sexe du stagiaire">Sexe</label>
                        <input class="label sexe" type="" name="sexe" id="sexe" value="{{ stagiaire.sexe }}" required="required">
                    </div>

                    <div class="sectionForm">
                        <label class="label" for="telephone" aria-label="Numéro de téléphone du stagiaire">Téléphone</label>
                        <input class="label telephone" type="tel" name="telephone" id="telephone" value="{{ stagiaire.telephone }}" required="required" pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}">
                    </div>

                    <div class="sectionForm">
                        <label class="label" for="email" aria-label="Adresse mail">Adresse mail</label>
                        <input class="label email" type="text" name="email" id="email" value="{{ stagiaire.email }}" required="required">
                    </div>
                </div>
            </div>
            
                
            <div class="divButton">
                <input class="button" type="submit" name="submit" value="{% if isEdit %} Éditer {% else %} Ajouter {% endif %}">
            </div>


        </form>
    </div>
    
{% endblock %}