{% extends 'base.html.twig' %}

{% block title %}{{ session.nomSession }}{% endblock %}

{% block body %}
    <div class="titre">
        <h1 class="titresecondaire">{{ session.nomSession | upper }} ( {{ days }} {% if days > 1 %}jours {% else %}jour {% endif %})</h1>
        {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
            <a class="close" href="{{ path('edit_session', {"idSession":session.getId }) }}"><img class="croix" src="{{ asset("./img/bouton-modifier.png")}}" alt="crayon de modification"></a>
            <a class="close" onclick="openPopup('SuprSession')"><img src="{{ asset('img/croix.png') }}" alt="croix"></a>
        {% endif %}
    </div>


    {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}

   
        
 

    {# Popup pour ajouter un stagiaire à la session (sera caché par défaut)#}
    <div class="stagiairepopupContainer" >
        <div class="stagiairepopup" id="popupStagiaire">
            <p class="close" onclick="closePopup('Stagiaire')"><img src="{{ asset('img/croix.png') }}" alt="croix"></p>
            <h2>Selectionnez un stagiaire à ajouter en session</h2>
            
            {% if nbStagiaireInscrits < placesRestantes %}
                {% if stagiaires %}
                    <form action="{{ path('add_stagiaire_to_session', {'id':session.getId }) }}" method="POST">
                        <select name="stagiaire" id="stagiaire_id">
                            <option value="" disabled selected>Selectionnez un stagiaire</option>
                            {% for stagiaire in stagiaires %}
                                <option value="{{ stagiaire.getId }}">{{ stagiaire }}</option>
                            {% endfor %}
                        </select>

                        <input class="bouton" type="submit" value="Ajouter à la session" name="submit">
                    </form>
                {% else %}
                    <h3>Tous les stagiaires disponibles sont déjà inscrits à la session</h3>
                {% endif %}
            {% else %}
                <h3>Il n'y a plus de place dans cette session</h3>
            {% endif %}
        </div>
    </div>



    {# Popup pour ajouter un module à la session (sera caché par défaut)#}
    <div class="stagiairepopupContainer" >
        <div class="stagiairepopup" id="popupModule">
            <p class="close" onclick="closePopup('Module')"><img src="{{ asset('img/croix.png') }}" alt="croix"></p>
            <h2>Selectionnez un module à ajouter à la session</h2>

            {% if maxDays > 0 %}
                <form action="{{ path('add_module_to_session', {'idSession':session.getId, 'maxDays':maxDays }) }}" method="POST">
                    <div class="addModule">
                        <select class="moduleinput" name="module">
                            <option value="" disabled selected>Selectionnez un module</option>
                            {% for module in modules %}
                                <option value="{{ module.id }}">{{ module }}</option>
                            {% endfor %}
                        </select>
                        <input class="duree" type="number" name="duree" id="duree" MIN="0" MAX="{{ maxDays }}">
                        <div>
                            {% if maxDays == 1 %}
                                <p class="dureemodule">jour</p>
                            {% else %}
                                <p class="dureemodule">jours</p>
                            {% endif %}
                        </div>
                    </div>

                    <input class="bouton" type="submit" value="Ajouter à la session" name="submit">
                </form>
                
                <input class="bouton boutoncreatemodule" onclick="openPopup('CreateModule')" type="submit" value="Créer un nouveau module" name="submit">
            {% else %}
                <h3>Il n'y a plus de place dans la session pour ajouter un nouveau module</h3>
            {% endif %}

        </div>
    </div>






    {# Popup pour créer un nouveau module (sera caché par défaut)#}
    <div class="stagiairepopupContainer" >
        <div class="stagiairepopup" id="popupCreateModule">
            <p class="close" onclick="closePopup('CreateModule')"><img src="{{ asset('img/croix.png') }}" alt="croix"></p>
            <h2>Formulaire de création d'un nouveau module</h2>

            <form action="{{ path('add_new_module', {"idSession":session.getId }) }}" method="POST">
                <div class="addModule">
                    
                    <div>
                        <div class="label">
                            <label for="nomModule" aria-label="Nom du module">Nom du nouveau module :</label>
                            <input class="moduleinput" type="text" name="nomModule" id="nomModule">
                        </div>
                        <div>
                            <label for="nomCategorie" aria-label="Nom de la catégorie">Catégorie du module :</label>
                            <select class="newmoduleinput" name="idCategorie" id="nomCategorie">
                                <option value="" disabled selected>Selectionnez une catégorie</option>
                                {% for categorie in categories %}
                                    <option value="{{ categorie.getId }}">{{ categorie }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                   
                </div>
                <input class="bouton" type="submit" value="Créer ce module" name="submit">
            </form>
        </div>
    </div>




    


    {# Popup pour supprimer la session (sera caché par défaut)#}
    <div class="stagiairepopupContainer" >
        <div class="stagiairepopup" id="popupSuprSession">
            <p class="close" onclick="closePopup('SuprSession')"><img src="{{ asset('img/croix.png') }}" alt="croix"></p>
            <h2>Voulez vous vraiment supprimer cette session ?</h2>

            <div class="suprSession">
                <a onclick="closePopup('SuprSession')"><input class="bouton boutoncreatemodule" type="submit" value="Annuler"></a>
                <a href="{{ path('delete_session', {"idSession": session.getId }) }}"><input class="bouton boutoncreatemodule boutonsuprsession" type="submit" value="Supprimer la session" name="submit"></a>
            </div>
        </div>
    </div>
{% endif %}




{% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
    <div class="addprogsession addstagiaire">
        <button type="submit" class="bouton bouton1" onclick="openPopup('Module')" >Ajouter un module à la session</button>
    </div>
{% endif %}
    


    <div class="sessionContainer">
        <div class="sessions">
            <div class="tabname modulehead">
                <p class="titretabname wmodule">Module</p>
                <div class="pipe"></div>
                <p class="tabnametitre wduree">Durée</p>
            </div>

            <div class="listSessionContainer listModule">
                {% for programme in programmes %}
                    <div class="session modules">
                        <p class="titretabname wmodule1">{{ programme.getModule.nomModule }}</p>
                        {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
                            <div class="fit">
                                <a href="{{ path('remove_module_from_session', {'idSession':session.getId,'idProgramme':programme.getId}) }}"><img class="croixModule" src="{{ asset("img/croix.png") }}" alt="croix"></a>
                            </div>
                        {% else %}
                            <div class="pipe"></div>
                        {% endif %}
                        
                        <p class="tabnametitre wduree1">{{ programme.duree }}  {% if programme.duree > 1 %}jours {% else %} jour {% endif %}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>






{% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
        <div class="addprogsession addstagiaire">
        <button type="submit" class="bouton bouton1" onclick="openPopup('Stagiaire')" >Ajouter un stagiaire à la session</button>
    </div>
{% endif %}



    <div class="stagiaireContainer sessionContainer"> 
        <div class="sessions">
            <div class="tabname modulehead">
                <p class="titretabname wstagiaire">Stagiaires inscrits</p>
            </div>

            <div class="listSessionContainer listModule">
                {% for stagiaire in stagiairesInscrit %}
                    <div class="session modules">
                    <a class="titretabname {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %} wmodule {% else %} center {% endif %}" href="{{ path('detail_stagiaire', {"idStagiaire":stagiaire.getId }) }}">{{ stagiaire }}</a>
                    {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
                        <div class="pipe"></div>
                        <div class="suprStag"><a class="tabnametitre wduree1" href="{{ path('remove_stagiaire_from_session', {'idSession':session.getId,'idStagiaire':stagiaire.getId}) }}"><img class="croix" src="{{ asset("img/croix.png") }}" alt="croix"></a></div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}