{% extends 'base.html.twig' %}

{% block title %}Liste des Sessions{% endblock %}

{% block body %}
    <div class="titre">
        <h1 class="titresecondaire">LISTE DES SESSIONS</h1>
    </div>

    {% if "ROLE_ADMIN" in app.user.roles %}
        
    
    <div class="addprogsession">
        <a class="bouton" onclick="openPopupCreateSession()">Ajouter une session</a>
    </div>



        {# Popup pour créer une nouvelle session (sera caché par défaut)#}
    <div class="stagiairepopupContainer" >
        <div class="stagiairepopup" id="popupCreateSession">
            <p class="close" onclick="closePopupCreateSession()"><img src="{{ asset('img/croix.png') }}" alt="croix"></p>
            <h2>Formulaire de création d'un nouveau module</h2>

            <form action="{{ path('add_new_session') }}" method="POST">
                <div class="addModule">
                    
                    <div>
                        <div class="label">
                            <label for="nomModule" aria-label="Nom de la session">Nom de la nouvelle session</label>
                            <input class="moduleinput" type="text" name="nomSession" required="required" id="nomSession" max="50">
                        </div>
                        <div>
                            <label for="placesTheoriques" aria-label="Places Théoriques">Places Théoriques</label>
                            <input class="moduleinput" type="number" name="pTheoriques" required="required" id="placesTheoriques" min="0">
                        </div>
                        <div>
                            <label for="placesReservees" aria-label="Places Réservées">Places Réservées</label>
                            <input class="moduleinput" type="number" name="pReservees" required="required" id="placesReservees" min="0">
                        </div>

                    </div>
                    <div>
                        <div class="label">
                            <label for="dateDebut" aria-label="Date de début">Date de début</label>
                            <input class="datetime" type="datetime-local" name="dateDebut" required="required" id="dateDebut">
                        </div>
                        <div>
                            <label for="dateFin" aria-label="Date de fin">Date de fin</label>
                            <input class="datetime" type="datetime-local" name="dateFin" required="required" id="dateFin">
                        </div>
                    </div>
                   
                </div>
                <input class="bouton" type="submit" value="Créer cette session" name="submit">
            </form>
        </div>
    </div>
{% endif %}





    <div class="sessionContainer">
        <div class="sessions">
            <div class="tabname">
                <p class="titretabname w20">Intitulé Session</p>
                <div class="pipe"></div>
                <p class="tabnametitre">Date début</p>
                <div class="pipe"></div>
                <p class="tabnametitre">Date fin</p>
                <div class="pipe"></div>
                <p class="tabnametitre">Places théoriques</p>
                <div class="pipe"></div>
                <p class="tabnametitre">Places Réservées</p>
                <div class="pipe"></div>
                <p class="tabnametitre">Places Restantes</p>
                <div class="pipe"></div>
                <p class="tabnametitre">Détail</p>
            </div>

            
            {# Bloc servant de conteneur pour les sessions #}
            <div class="listSessionContainer">
                {% for session in sessions %}
                {# On créé les sessions pour chaque session qu'il y a en base de donnée #}
                <div class="session">
                    <p class="titretabname wnomsession">{{ session }}</p>
                    <div class="pipe"></div>
                    <p class="tabnametitre wddebut">{{ session.dateDebut | date('d/m/Y')}}</p>
                    <div class="pipe"></div>
                    <p class="tabnametitre wdfin">{{ session.dateFin | date('d/m/Y')}} </p>
                    <div class="pipe"></div>
                    <p class="tabnametitre wptheorique">{{ session.placeTheorique }}</p>
                    <div class="pipe"></div>
                    <p class="tabnametitre wpreservee">{{ session.placeReserve }}</p>
                    <div class="pipe"></div>
                    <p class="tabnametitre wprestante">{{ session.placeTheorique - session.placeReserve - session.stagiaires | length }}</p>
                    <div class="pipe"></div>
                    <a class="wdetail" href="{{ path('detail_session', {'id':session.getId }) }}">
                        <div class="option">
                            <div>
                                <div class="barrehorizontale"></div>
                                <div class="barrehorizontale"></div>
                                <div class="barrehorizontale"></div>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}