<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

    </head>
    <body>
        <header>
            <nav>
                <div class="nav">
                    <a href="{{ path('liste_sessions')  }}">Sessions</a>
                    <a class="stagNav" href="{{ path('liste_stagiaires')}}">Stagiaires</a>
                    {% if app.user is null %}
                        <a href="{{ path('app_login')}}">Se connecter</a>
                    {% else %}
                    <div class="navdeco">
                        <a href="{{ path('see_profile', {"idUser":app.user.getId }) }}">Mon profil</a>
                        <a href="{{ path('app_logout')}}">Se déconnecter</a>
                    </div>
                    {% endif %}
                    
                </div>
            </nav>
        </header>

        <div class="alertsuccess">
            {% for message in app.flashes("success") %}
                {{ message }}
            {% endfor %}
        </div>
        {% for message in app.flashes("error") %}
            <div class="alerterror">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}
        
        {% endblock %}
        
        {% block javascripts %}
            <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js'></script>
            
            <script src="https://www.google.com/recaptcha/api.js?render=6LcjhX8rAAAAADUyClT6ctN9uY3L6XD7g_okp7-t"></script>
            
            <script src="{{ asset('js/script.js') }}"></script>

        {% endblock %}
    </body>
</html>
